* {
    font-size: 62.5%;
}

#wrapper {
    padding-top: 12rem;
}

#RecipeText {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-inline: 20rem;
    margin-bottom: 4rem;

    ul {
        padding-left: 4rem;
    }
}

#footnotes {
    display: flex;
    gap: 4rem;

    img {
        margin-left: 20rem ;
        height: 50vh;
    }
}
